:root {
  --background: white;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family:'Helvetica-Neue', sans-serif;
  color: #222;
  margin:0;
}

.content {
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
/* navigation styles start here */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  margin:0;
  z-index: 999;
  width: 100%;
  display: flex;

}

/* Nav-toggle start*/

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(black, .75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 4px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

/* Nav styling*/

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  margin:0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 0;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 200;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  font-weight:bold;
}

img {
  display:flex;
   align-items: center;
  max-width:10em;
  margin: 1em;
}

/* Nav-toggle checked*/

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.logo {
	display: block;
	margin-left: auto;
  margin-right: auto;
}

/* Breakpoint aanmaken*/

@media screen and (min-width: 950px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .menu {
    grid-column: 1 / 3;
    position: relative;    
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    min-width: 300px;
  }
  nav {
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  .logo {
    grid-column: 3 / 4;
  }
}



/*************/
/* lay-out main */
/*************/

main {
  margin:1em;
  margin:0;
  padding-top: 60px;

 }


h1 {
  font-size:32px;
  text-transform: uppercase;
  
}

h2 {
  font-size:24px;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size:20px;
  font-weight: 100;
  text-align: justify;
  text-justify: inter-word; 
}

h4 {
  font-size:20px;
}

h5 {
  font-size:11px;
}


p {
  font-size:16px;
  font-weight: 100;
}


h5:nth-child(1){
background: rgb(231, 231, 231);
  
}

.beginfoto {
	display: block;
	margin-left: 0.1em;
  max-width: 95%;
}

/*************/
/* lay-out Footer */
/*************/


@media (max-height:800px){
	footer { position: static; }
}


.footer-distributed{
	background-color: rgb(34, 34, 34);;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

p {
  Font-family: Helvetica Neue;
  font-weight: 200;
  color: white;
	line-height: 1.8;
	text-decoration: none;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right1,
  .footer-distributed .footer-right2{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

h6{
	color:  white;
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}

.footer-distributed .footer-links a{
	display:inline-block;
	text-decoration: none;
	color:  inherit;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	text-align: left;
	line-height: 42px;
	margin: 10px;
}

/* Footer Right1 */

.footer-distributed .footer-right1{
	width: 15%;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 30px;
	height: 35px;
	cursor: pointer;
}

/* Footer Right 2*/

.footer-distributed .footer-right2{
	width: 15%;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 30px;
	height: 35px;
	cursor: pointer;
}

.lastsetence{
  font-size: 14px;
  margin-top: 1.2em; 
}

/* Here is the code for Responsive Footer */

@media (max-width: 950px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right1,
  .footer-distributed .footer-right2{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}