:root {
  --background: white;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family:'Helvetica-Neue', sans-serif;
  /* color: #222; */
  margin:0;
}

.content {
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
/* navigation styles start here */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  margin:0;
  z-index: 999;
  width: 100%;
  display: flex;

}

/* Nav-toggle start*/

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(black, .75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 4px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

/* Nav styling*/

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  margin:0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 0;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 200;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  font-weight:bold;
}

header img{
  display:flex;
  align-items: center;
  max-width:10em;
  margin: 1em;
} 

/* Nav-toggle checked*/

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.logo {
	display: block;
	margin-left: auto;
  margin-right: auto;
}

/* Breakpoint aanmaken*/

@media screen and (min-width: 950px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .menu {
    grid-column: 1 / 3;
    position: relative;    
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    min-width: 300px;
  }
  nav {
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  .logo {
    grid-column: 3 / 4;
  }
}



/*************/
/* lay-out main */
/*************/

main {
  margin:1em;
  margin:0;
  padding-top: 60px;
  
 }

 .contentcontainer{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

h1 {
  font-size:2.4rem;
  text-transform: uppercase;
  margin-bottom:1rem;
  max-width: 40%;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  margin-bottom:4rem;
  max-width: 70%;
}

h4{
  font-size:1.8rem;
  font-weight: 300;
  text-align: center;
  margin-bottom:4rem;
}

main p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

h5{
  font-size:0.8rem;
  text-align: center;
  background:rgb(231, 231, 231);
  padding:1em;
  font-weight: 100;
  margin-bottom:2rem;
}
/* eerste section*/
img.beginfoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  margin-bottom:1rem;
}

div.firsttext{
  text-align: center;
  margin-bottom:8rem;
}

/* tweede section*/ 
.artikelen {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.fotoartikelen {
  padding: 1.2rem;
  width:100%;
}

#uppercasep{
  text-transform: uppercase;
}

article.textimage {
  position: relative;
  text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

#balmain {
  font-size: 400%;
  color: white;
  font-weight: 900;
  margin-bottom: 1.5rem;
}  

button {
  background-color: transparent;
  color: white;
  border:none;
  border-bottom: 0.1rem solid;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

/* derde section*/
 .producten {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
 
  justify-content: center;
  margin-bottom: 14rem;
}

.kleding {
  text-align: center;
   width: 70%; 
   margin: -5rem;
   margin-top: 2rem;
} 

.containerkleding{
  position: relative;
  text-align: center;
}

.boxster {
  position: absolute;
  top: 4px;
  right: 8px;
  width:1.5rem;
  cursor: pointer;
} 

.boxsterclosed {
  position: absolute;
  top: 4px;
  right: 8px;
  width:1.5rem;
  cursor: pointer;
} 

.tekst {
position: absolute;
bottom: -10rem;
left: 50%;
transform: translateX(-50%);

}

.cursief {
  font-weight: 800;
}


/* Shop nu button */

#shopnubutton{
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: transparent;
  color: #222;
  border: .05rem solid #222;
  border-radius: .4rem;
  padding:0.8rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 4rem;
}


/* Here is the code for Responsive main */

@media (max-width: 950px){
  main .artikelen {
  display: flex;
 flex-direction: column;
    Text-align: center;
  }

  .producten {
    display: flex;
  /* scroll-snap-type: x mandatory; */
  overflow-x: scroll;
  /* scroll-behavior: smooth; */
  }

  .containerkleding{
    width: 50%;
    flex-shrink: 0.1;
    scroll-snap-align: start;
  }

  .kleding {
    display: block;
    width: 80%;
   } 
   
  }
  





/*************/
/* lay-out Footer */
/*************/

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: rgb(34, 34, 34);
padding: 30px;
padding-bottom: 6rem;

}

footer h3 {
  Font-family: Helvetica Neue;
  font-weight: 200;
  color: white;
	line-height: 1.8;
  margin: 0;
	text-decoration: none;
  text-transform: uppercase;
  padding-top:1rem;
}

footer a {
  font-family: Helvetica Neue;
  font-weight: 200;
   text-decoration: none;
  color: white;
  font-size: 1em;
  	line-height: 1.8;
}

footer ul{
  padding: 0;
}

footer li  {
  list-style: none;
}
  
/* Footer eind p*/
footer p {
  position: absolute;
  bottom: 0;
  width: 70%;
  Font-family: Helvetica Neue;
  font-weight: 200;
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}


/* Here is the code for Responsive Footer */

@media (max-width: 950px){
  footer {
  display: flex;
 flex-direction: column;
    Text-align: center;  
}

footer p {
  position: absolute;
  bottom: 0;
  width: 90%;
  Font-family: Helvetica Neue;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  text-align: left;
}
  
}

/*************/
/* TWEEDE PAGINA */
/*************/

.detailbox {
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 10rem;
  margin-left: 10%;
}

.detailfoto {
   width: 50%; 
   margin-top: 2rem;
}

/* Tab box*/

.specificaties {
  width: 80%;
  height: 450px;
  position: relative;
  margin: 100px auto;
  overflow: hidden;
}

.btn-box {
  display: flex;
  border-bottom: 1px solid #222;
}

.btn-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1rem;
  font-weight: 200;
  color: #222;
  text-transform: uppercase;
}

.spec-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  position: absolute;
  transform: translateX(300%);
}

.content-left {
  flex-basis: 50%;
}

.content-right {
  flex-basis: 50%;
}

.content-left img {
  max-width: 200px;
}

#content1 {
  transform: translateX(0px)
}

#btn1 {
  color: #222;
}